.root {
  padding-top: 16px;
  padding-bottom: 16px;
  @media (min-width: 600px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.widthNormal {
  width: 100%;
}
.InputLabelProps {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.formHelperTextPropsRoot {
  word-break: break-word;
}
