.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  position: relative;
}

.buttonProgress {
  color: rgb(233, 30, 99);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12;
  margin-left: -12;
}
